:root {
  --color-background: black;
}

html,
body,
#app {
  background: var(--color-background) !important;
  font-family:
    'Assistant',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans Hebrew',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

input,
textarea,
select,
button,
a,
[contenteditable='true'] {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

input,
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 6px;
}
